@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
body {
    width: 100vw;
    box-sizing: border-box;
    background-color: #4597ab;

}
.cabecalho {
    /* width: 100%; */
    background-color: #203c44;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    
}
.cabecalho_titulo{
color: #d3dde0;
font-family: 'Open Sans', sans-serif;
position: relative;
left: 10px;
font-size: 50px;



}
.cabecalho_lista_links{
    display: flex;
    flex-direction: column;
    margin: 100px 50px;
    position: relative;
    left: 1350px;
    top: -450px;
    font-size: 25px;

}
.cabecalho_lista_links li{
    margin: 50px 0px;
}

.fotos_conteudo img{
    width: 30%;
    height: 55%;
    position: absolute;
    left: 750px;
    top: 250px;

}
.fotos_conteudo_dois img{
    height: 20%;
    position: absolute;
    left: 950px;
    top: 750px;
    
}
 
#conteudo{
    color: #d3dde0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 25%;

}
.texto{
    position: relative;
    left: 150px;
    top: 150px;
    font-size: 20px;
}